.main-container {
    height: 80vh;
    background-color: #531414;

    .woman-img-col {
        position: relative;
        .woman-img {        
            background:#531414 url(../../assets/img_woman.png) no-repeat center center;      
            background-size: contain;                          
            height: 80vh;
            position: absolute;            
            right: 0;
            left: 0;
        }
    }
    .body-container {
        height: 100%;
        padding-bottom: 50px;
        overflow: hidden;

        .title {
            color: white;
            font-size: 180px;
            margin-bottom: 20px;
            
        }

        .text {
            color: white;
            font-size: 15px;            
        }
                
        .logo-img {
            max-width: 200px;
            object-fit: contain;
        }
    }

}